
.button {
	width :170px;
	height: 40px;	
	color: black;
	border-radius: 40px;
	border : none;
	text-align: center;
	margin: auto;
	margin-top: 8%;
	font-weight: bold;
	font-size: 15px;
	font-family: "Lucida Grande", "Comis Sans MS", Verdana;
	background: -webkit-linear-gradient(left, purple , orange); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(right, purple, orange); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(right, purple, orange); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(to right, purple, orange); /* Standard syntax */
 	opacity: 0.9;
}

.head { 
	padding-top: 15px;
	padding-bottom: 8px;
	text-align: center;
	color: white;
	font-size: 52px;
	font-weight: bold;
	font-family: "Marker Felt", Impact;
	border: double;
	letter-spacing: 4px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body {
	background-image: url("backImg.jpg");
	margin: auto;
	max-width : 730px;
	max-height : 220px; 
	color : #00FA9A; 
	text-align : center;
	font-family: "Andale Mono";
	letter-spacing: -2px;
	background-color: #3E193E;
}

div {
	background-color : #151515;
	padding-left : 10px;
	padding-right : 10px;
	padding-top: 4px;	
	opacity : 0.6;
}



